[Desktop Entry]
Name=Fablemaker
Comment=Hack Aesop’s fables
Exec=com.endlessnetwork.fablemaker.sh
Icon=com.endlessnetwork.fablemaker
Terminal=false
Type=Application
Categories=Education;Game;ComputerScience;KidsGame;
